#root, body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  place-items: center;
  background-color: rgb(46, 46, 46);
  color: antiquewhite;
  font-family: "Exo", sans-serif;

  h1 {
    font-family: "Henny Penny", system-ui;
    font-size: clamp(2.25rem, 6vw, 3.5rem);
  }
}

@keyframes left-right-infinite {
  0%, 5%, 45%, 55%, 95%, 100% {
    left: -50%;
  }
  17%,35% {
    left: -140%;
  }
  65%,83% {
    left: 40%;
  }
}

.wrapper {
  background-color: rgba(217, 217, 217, 0.415);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.healthbar-bg {
  position: relative;
  width: 100%;
  height: 0.5rem;
  background-color: white;
  border-radius: 0.25rem;

  .healthbar {
    position: absolute;
    height: 0.5rem;
    border-radius: 0.25rem;
  }

  .green {background-color: rgb(57, 207, 11);}
  .yellow {background-color: rgb(254, 214, 14);}
  .red {background-color: rgb(209, 0, 0);}
}

.carroussel-wrapper {
  width: 40%;
  margin: 1rem auto;
  overflow-x: hidden;
  position: relative;
  height: clamp(3rem, 6vw, 6rem);

  .carroussel {
    width: 200%;
    position: absolute;
    left: -50%;
    animation: left-right-infinite ease-in-out 10s infinite 2s;
  }
}

.team-picker{
  width: 100%;

  .picker-character {
    cursor: pointer;
    border: 3px solid black;
    padding: 0.5rem;
    border-radius: 0.5rem 0.5rem 0 0;

    &:hover {
      background-color: rgb(154, 154, 154);
    }
  }

  .picker-stats {
    background-color: black;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 0.5rem;
  }

  p {
    margin: 0;
  }
}

.green {color: rgb(57, 207, 11);}
.red {color: rgb(209, 0, 0);}

.map-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-size: cover;
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-size: cover;

  .sell {
    grid-area: 4/1/5/3;
  }
}

.main-window {
  height: 80vh;
}

.tips {
  p {
    font-size: small;
    margin: 0;
  }
}

.map-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../public/images/map.jpg);
}
.fight-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../public/images/fight.jpg);
}
.shop-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../public/images/shop.jpg);
}

.fight-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.5rem;

  .fight-item {
    height: 100%;
  }

  .fight-logs {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    justify-content: end;
    font-family: monospace;
    font-size: small;
    grid-area: 1 / 1 / 2 / 3 ;
    overflow-y: hidden;
    background-color: black;
    border-radius: 0.5rem;
    border: 2px solid white;
    padding: 0.5rem;

    p { margin: 0;}
  }
  .order-list { grid-area: 6 / 1 / 7 / 2 ; }
  .recap-buffs {
    grid-area: 6 / 2 / 7 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .boss-area {
    grid-area: 2 / 1 / 4 / 3 ;

    .fight-boss-stats {
      border-radius: 0.5rem 0 0 0.5rem;
      border: 2px solid black;
      border-right: none;
      padding: 0.5rem;
      p {margin: 0;}
    }
  }
  .team-area {
    grid-area: 4 / 1 / 6 / 3 ;

    .character-stats {
      width: 100%;
      border-radius: 0.5rem 0.5rem 0 0;
      border: 2px solid black;
      border-bottom: none;
      padding: 0.5rem;
      p { margin: 0;}
    }
  }
}

.avatar-lg {
  height: clamp(10rem,24vw,15rem);
}

.avatar {
  height: clamp(6rem,14vw,9rem);
}

.avatar-sm {
  height: clamp(3rem,6vw,6rem);
}

.item-sm {
  height: clamp(2rem, 5vw, 3rem);
}

@media (min-width: 768px) {
  .team-picker {
    .picker-character {
      border-radius: 0.5rem 0.5rem 0 0.5rem;
    }
    .picker-stats {
      border-radius: 0 0.5rem 0.5rem 0;
    }
  }

  .carroussel-wrapper {
    width: 30%;
  }

  .map-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

    .grid-item-pointer {
      cursor: pointer;
    }
  }

  .shop-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    .sell { grid-area: 3/2/4/3; }

    .grid-item-pointer {
      cursor: pointer;
    }
  }

  .fight-grid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

    .fight-logs { grid-area: 1 / 1 / 3 / 3; }
    .boss-area { grid-area: 1 / 3 / 4 / 6; }
    .recap-buffs {
      grid-area: 4 / 4 / 6 / 5;
      grid-template-columns: repeat(2, 1fr);
      }
    .order-list { grid-area: 4 / 5 / 6 / 6; }
    .team-area { grid-area: 3 / 1 / 6 / 4; }
  }
}
