#root, body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  place-items: center;
  background-color: rgb(46, 46, 46);
  color: antiquewhite;
  font-family: "Exo", sans-serif;

  h1 {
    font-family: "Henny Penny", system-ui;
  }
}

@keyframes left-right-infinite {
  0%, 5%, 45%, 55%, 95%, 100% {
    left: -50%;
  }
  17%,35% {
    left: -140%;
  }
  65%,83% {
    left: 40%;
  }
}

.wrapper {
  background-color: rgba(217, 217, 217, 0.415);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.healthbar-bg {
  position: relative;
  width: 100%;
  height: 0.5rem;
  background-color: white;
  border-radius: 0.25rem;

  .healthbar {
    position: absolute;
    height: 0.5rem;
    border-radius: 0.25rem;
  }

  .green {background-color: rgb(30, 129, 0);}
  .yellow {background-color: rgb(199, 182, 0);}
  .red {background-color: rgb(209, 0, 0);}
}

.carroussel-wrapper {
  width: 40%;
  margin: 1rem auto;
  overflow-x: hidden;
  position: relative;
  height: 12vw;

  .carroussel {
    width: 200%;
    position: absolute;
    left: -50%;
    animation: left-right-infinite ease-in-out 10s infinite 2s;
  }
}

.team-picker{
  width: 100%;
  text-align: center;

  .pick {
    cursor: pointer;

    &:hover {
      border: 2px solid rgb(255, 255, 255);
    }
  }
}

.green {color: rgb(30, 129, 0);}
.red {color: rgb(209, 0, 0);}

.map-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-size: cover;
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-size: cover;

  .sell {
    grid-area: 4/1/5/3;
  }
}

.main-window {
  height: 80vh;
}

.tips {
  p {
    font-size: small;
    margin: 0;
  }
}

.map-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../public/images/map.jpg);
}

.fight-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../public/images/fight.jpg);
}
.shop-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../public/images/shop.jpg);
}

.fight-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);

  .fight-item {
    height: 100%;

    .fight-boss-stats {
      width: 100%;
    }
  }

  .order-list{ grid-area: 1 / 1 / 2 / 2 ; }
  .fight-logs {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    justify-content: end;
    font-family: monospace;
    font-size: small;
    grid-area: 2 / 1 / 3 / 2 ;
    overflow-y: hidden;
    background-color: black;
    border-radius: 0.5rem;
    border: 2px solid white;
    padding: 0.5rem;

    p { margin: 0;}
   }
  .boss-area { grid-area: 3 / 1 / 5 / 2 ; }
  .team-area {
    grid-area: 5 / 1 / 7 / 2 ;
    padding: 2rem;
  }
}

.avatar {
  height: 25vw;
}

.avatar-lg {
  height: 50vw;
}

.avatar-sm {
  width: 12vw;
}

.item-sm {
  width: 8vw;
}

@media (min-width: 768px) {
  .team-picker {
    width: 80%;
    margin: 0 auto;
  }

  .carroussel-wrapper {
    height: 6vw;
    width: 30%;
  }

  .map-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

    .grid-item-pointer {
      cursor: pointer;
    }
  }

  .shop-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    .sell { grid-area: 3/2/4/3; }

    .grid-item-pointer {
      cursor: pointer;
    }
  }

  .fight-grid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);

    .order-list { grid-area: 3 / 5 / 5 / 6; }
    .fight-logs { grid-area: 1 / 1 / 3 / 3; }
    .boss-area { grid-area: 1 / 3 / 3 / 6; }
    .team-area { grid-area: 3 / 1 / 5 / 5; }
  }

  .avatar {
    height: 10vw;
  }

  .avatar-lg {
    height: 22vw;
  }

  .avatar-sm {
    width: 6vw;
  }

  .item-sm {
    width: 3vw;
  }
}
