#root, body {
  width: 100%;
  background-color: rgb(46, 46, 46);
  color: antiquewhite;
}

.wrapper {
  background-color: rgba(217, 217, 217, 0.415);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.team-picker{
  width: 100%;
  text-align: center;


  .pick {
    cursor: pointer;

    &:hover {
      border: 2px solid rgb(255, 255, 255);
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-size: cover;
  height: 80vh;
}

.map-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../public/images/map.jpg);
}
.shop-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../public/images/shop.jpg);
}

.avatar {
  height: 25vw;
}

.avatar-sm {
  width: 12vw;
}

.item-sm {
  width: 8vw;
}

@media (min-width: 768px) {
  .team-picker {
    width: 80%;
    margin: 0 auto;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

    .tile {
      cursor: pointer;
    }
  }

  .avatar {
    height: 10vw;
  }

  .avatar-sm {
    width: 6vw;
  }

  .item-sm {
    width: 3vw;
  }
}
